*{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family:Arial, Helvetica, sans-serif;
} 

h1 {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
}

a {
    text-decoration: none;
}

.Top-Nav-Bar nav{
    width: 750px;
}
.Top-Nav-Bar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    width: 150px;
}

.Top-Nav-Bar nav a:hover{
    background-color: #CFB53B;
    color: white;
}

.Top-Nav-Bar nav a.active{
    background-color:#CFB53B;
    color: black;
}

.Bottom-Nav-Bar nav{
    position: fixed;
    bottom: 0;
    /* float: right; */
    text-align: center;
    display: block;
    width: 800px;
}

.Bottom-Nav-Bar a {
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    color: #CFB53B;
    width: 200px;
    /* float: left; */
}
.Bottom-Nav-Bar img {
    width: 10%;
    height: 10%;
    text-align: center;
    padding-bottom: 15px;
}

